.contenedor_cv{
    display: flex;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor_foto{
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.foto_de_perfil{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 0 10px white(0, 194, 255, 0.6);
    border-radius: 50%;
}

.columna_izquierda{
    background-color: #3498db;
    padding: 20px;
    width: 20%;
    border-right: 2px solid white;
    border-left: 2px solid white;

}

#contactos{
    margin-bottom: 20px;
    font-size: 17px;
    

}

#habilidades{
    margin-bottom: 20px;
    font-size: 17px;
}

#educacion{
    margin-bottom: 20px;
    font-size: 17px;
}

.columna_derecha{
    width: 80%;
    background-color: white;
    padding: 20px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.columna_sup{
    width: 40%;
    background-color:#2874a6 ;
    padding: 20px;
    border-right: 2px solid white;
    border-left: 2px solid white;

}

  



